<div class="login_form">
  <h1>Reset password</h1>

  <p>Please enter your registered email address below and click “Reset password”. You will receive an email
    containing instructions and a temporary link for resetting your password. </p>
  <%= form_for @user, :url => reset_password_path do |f| %>
      <%= f.email_field :email, :class => 'input username', :placeholder => "Email" -%>
      <%= f.submit "Reset password", :class => "button btn btn-warning btn-large" -%>
  <% end %>
</div>