<!DOCTYPE html>
<html>
<head>
  <title>BambooUser</title>
  <%= stylesheet_link_tag    "bamboo_user/application", media: "all" %>
  <%= javascript_include_tag "bamboo_user/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
